<html>
  <head>
    <title>Tunenite!</title>

    <link rel="stylesheet" href="/static/tunenite.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="/static/tunenite.js"></script>
  </head>
  <body>

    <a id="github" href="http://github.com/chaosgame/tunenite">
      <img src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
    </a>

    <div id="page">
      <input id="search_query" type="text" autofocus="true" class="default_text" value="Enter Concert Venue">

      <div id="search_view" class="view">
        <ul id="search_results">
        </ul>
      </div>

      <div id="playlist_view" class="view">
      </div>

      <div id="loading_view" class="view">
      </div>
    </div>
  </body>
</html>
